.DS_Store
__pycache__/
*.pyc
*.tsbuildinfo
venv/
node_modules/
.idea/
.vscode/
*.egg-info/
build/
dist/

/web-agent/runtime/
/web-agent-ui/dist/
/web-poartl/dist/
/web-poartl/.next/
/web-poartl/.env
/web-poartl/.env.local
/web-poartl/.env.development.local
/web-poartl/.env.test.local
/web-poartl/.env.production.local
/web-agent/.env
/web-agent/.pytest_cache/
/web-agent/.venv/
/web-agent/project_conversation.md
/web-agent/README.md
/web-agent/.langgraph_api/
/web-agent/baidu-web/
/web-agent/tests/debug/*.log
/web-poartl/vite.config.d.ts
/web-poartl/vite.config.js
